<% layout('layouts/boilerplate')%>
    <div id="map"
        style="height: 450px; width: 100%;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;"
        class="mb-3"></div>

    <h1 class="mb-3">All Campgrounds</h1>
    <% for (let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <% }else {%>
                            <img crossorigin="anonymous" class="img-fluid"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHXX6GrLiyiN5oDkH8Badn80xAnC5oAumGmchxXoF-b4H9ZDDOJ_iexVov_mSiLU9UCI0&usqp=CAU"
                                alt="">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
            <!-- <script>
                const mapToken = '<%-process.env.mapboxToken%>';
                 const campgrounds = { features: JSON.parse('<%-JSON.stringify(campgrounds)%>') };
            </script> -->
            <script>
                const mapToken = '<%-process.env.mapboxToken%>';
                const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
            </script>
            
            <script src="/javascripts/clusterMap.js"></script>